/* erotic sex games online free download java flash */

/* Õ¿—“–Œ… » ¡¿ÕÕ≈–¿ gameguru*/
.banner_gameguru {width:100%; display:table;}
.banner_gameguru {margin:6px auto; padding-bottom:4px;}
.banner_gameguru .gametext_gameguru { font-size:11px; font-family:Arial, sans-serif;line-height:auto;padding:4px;text-align:left;}
.banner_gameguru .header_gameguru{
margin-bottom:4px;
color:#343434;
font-size:18px;
font-weight:bolder;
text-align:center;}
.banner_gameguru b.adv { color:#343434; display:block; text-transform: uppercase; }
.banner_gameguru .gameblock_gameguru {
text-align:center;
position: relative;
width:218px;
border:none;
margin:0px;
overflow:hidden;}
.banner_gameguru .img_gameguru img {border:none; text-align:center;}
.banner_gameguru .img_gameguru {margin:10px 10px 0 10px;}
.banner_gameguru .gameblock_gameguru_left .img_gameguru {float:left; position:relative;}
.banner_gameguru .gameblock_gameguru_top .img_gameguru {display: block; clear: both; position:relative;}
.banner_gameguru .gameblock_gameguru_top .gametext_gameguru {display: block; clear: both; position:relative;}
.banner_gameguru a:link {color:blue;text-decoration: underline;}
.banner_gameguru a:visited {text-decoration: underline;color:midnightblue;}
.banner_gameguru a:hover {text-decoration: none;color:blue;}
.banner_gameguru a:active {text-decoration: underline;color:blue;}
.banner_gameguru .reglink_gameguru {text-align: right; right: 0; bottom: 0; padding: 2px 4px;}


BODY
{
	font-family: "Century Gothic" , Futura, Arial, Verdana, sans-serif;
	BACKGROUND: #91000e url(/images/bg.png) center top;
}
.h2recl
{
	clear: both;
	border-bottom: red 1px solid;
}
FORM#cse-search-box
{
	margin-top: 4px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-right: 20px;
	text-align: right;
}	
.menu
{
	padding-right: 0px;
	padding-left: 0px;
	font-size: 10pt;
	padding-bottom: 0pt;
	margin: 0px;
	color: white;
	text-indent: 0pt;
	line-height: 26px;
	padding-top: 0px;
}
.menubg{
 background: url(/images/menubg.jpg) #ff0000 no-repeat 0% 0px;
}
.menubg2{
 background: url(/images/ugol.png) #ba0000 no-repeat 0% 0px;
}
.navi
{
	clear: both;
	float: none;
}
.menutree
{
	margin-right: 0px;
	margin-left: 4px;
	margin-bottom: 0pt;
	margin-top: 0px;
	padding: 0px;
}
.message
{
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 0pt;
	margin: 0px;
	color: white;
	text-indent: 0pt;
	padding-top: 0px;
}
.messagetext
{
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0pt;
	margin: 0px;
	color: white;
	text-indent: 0pt;
}
.messagebox
{
	margin-left: 30pt;
}
.updownborder
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0pt;
	margin: 0px;
	color: white;
	text-indent: 0pt;
	line-height: 0px;
	padding-top: 0px;
}

H1, A.head1
{
	margin-top: 10pt;
	padding-left: 0px;
	font-weight: lighter;
	font-size: large;
	margin-bottom: 8px;
	padding-bottom: 1px;
	margin-left: 0pt;
	margin-right: 0pt;
	padding-top: 0px;
	border-bottom: #ba0000 4px solid;
	text-align: center;
	color: #ba0000;
}
H2
{
	clear: both;
	padding-left: 0px;
	font-weight: lighter;
	font-size: medium;
	padding-bottom: 1px;
	margin: 10pt 0px 4pt;
	padding-top: 0px;
	border-bottom: red 1px solid;
	text-align: left;
	color: #ba0000;
}
H3
{
	clear: both;
	display: block;
	padding-left: 0px;
	font-weight: lighter;
	font-size: medium;
	float: none;
	padding-bottom: 5px;
	margin: 10pt 0px 1pt;
	padding-top: 0px;
	text-align: center;
	
}
P
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 5pt;
	margin: 0px;
	text-indent: 30pt;
	padding-top: 0px;
	color: #343434;
}
.news
{
	text-indent: 0pt;
	padding-bottom: 8pt;
}
.games
{
	padding-left: 0px;
	padding-bottom: 0pt;
	margin: 0px;
	text-indent: 0pt;
	padding-top: 0px;
}
.links
{
	text-indent: 0pt;
	text-align: right;
}
.definition
{
	padding-bottom: 5pt;
}
.list
{
	text-indent: 0pt;
}
.images_left
{
	clear: both;
	padding-top: 14px;
	float: left;
	margin: 0px;
	text-indent: 0pt;
	text-align: center;
}
.images_right
{
	clear: both;
	padding: 0px;
	float: right;
	margin: 0px;
	text-indent: 0pt;
	text-align: center;
}
A.top:link, A.top:active, A.top:visited, A.top:hover
{
	font-family: Arial, Futura, Verdana, sans-serif;
	color: #f6f6d3;
	font-size: 11pt;
	font-weight: normal;
	font-style: normal;
	border: none;
	cursor: hand;
	font-style: normal;
}
A.top:link, A.top:active, A.top:visited
{
	text-decoration: underline;
}
A.top:hover
{
	text-decoration: none;
}
P A
{
	border-right: #f6f6d3 2px solid;
	border-left: #f6f6d3 2px solid;
	cursor: hand;
	color: darkblue;
	font-style: normal;
	text-decoration: underline;
}
P A:active
{
	color: blue;
	font-style: normal;
}
P A:hover
{
	border-right: red 2px solid;
	border-left: red 2px solid;
	color: blue;
}
P A:visited
{
	color: midnightblue;
}
P A:link
{
	color: mediumblue;
}
H2 A, H2 A:active, H2 A:visited, H2 A:link,
{
	border-right: #f6f6d3 2px solid;
	border-left: #f6f6d3 2px solid;
	cursor: hand;
	color:  #ba0000;
	font-style: normal;
	text-decoration: none;
}
H2 A:hover
{
	text-decoration: none;
	border-right: red 2px solid;
	border-left: red 2px solid;
}
A.headimg:visited, A.headimg:active, A.headimg:hover, A.headimg:link, A.headimg
{
	border: none;
}
A.menulink:hover, A.message:hover, .selectedmenu
{
	border: #A42627 2px solid;
	font-style: normal;
	text-decoration: none;
}
A.menulink:link, A.menulink:active, A.menulink:visited, A.message:link, A.message:visited, A.message:active
{
	color: white;
	font-style: normal;
}
A.menulink, A.message
{
	border-right: gray 2px solid;
	border-top: gray 2px solid;
	border-left: gray 2px solid;
	color: white;
	border-bottom: gray 2px solid;
	font-style: normal;
	text-decoration: none;
}
.razdmenu, .razdmenudn, .razdmenudn2
{
	line-height: normal;
	text-align: center;
	color: #f6f6d3;

}
.razdmenu
{
	padding: 0px 0px 6px 0px;
	margin: 0px 0px 8px 0px;
	background-color: #6b0000;

}
.razdmenudn2
{
	padding: 0px 0px 6px 0px;
	margin: 8px 0px 0px 0px;
	background-color: #ba0000;
}
.razdmenudn
{
	padding: 0px 0px 6px 0px;
	margin: 8px 0px 0px 0px;
	background-color: #ff0000;
}
A.menu1:link, A.menu1:visited, A.menu2:link, A.menu2:visited, A.menu3:link, A.menu3:visited
{
	text-decoration: underline;
}
A.menu1:hover, A.menu2:hover, A.menu3:hover
{
	text-decoration: none;
}
img, a:link img, a:visited img, a:hover img, a:active img
{
	border: 0;
} 
A.m, img A, img A:hover, A.m:link, A.m:active, A.m:visited, A.m:hover{border: none;}
.menu1, A.menu1:link, A.menu1:active, A.menu1:visited, A.menu1:hover
{
	font-family: Arial, Futura, Verdana, sans-serif;
	color: #f6f6d3;
	font-size: 14pt;
	font-weight: normal;
	font-style: normal;
	border: none;
	clear: both;
	padding: 10px 0px 0px 0px;
	margin: 0px 2px 4px 16px;
	text-align: left;
}
.menu2, A.menu2:link, A.menu2:active, A.menu2:visited, A.menu2:hover
{
	font-family: Arial, Futura, Verdana, sans-serif;
	color: #f6f6d3;
	font-size: 11pt;
	font-weight: normal;
	font-style: normal;
	border: none;
	clear: both;
	text-align: left;
	padding: 0px 0px 0px 0px;
	line-height: 25px;
	margin: 8px 2px 0px 16px;
}
.menu3, A.menu3:link, A.menu3:active, A.menu3:visited, A.menu3:hover
{
	font-family: Arial, Futura, Verdana, sans-serif;
	color: #ffd16e;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	border: none;
	clear: both;
	line-height: 20px;
	padding: 0px 0px 0px 16px;
	margin: 4px 2px 2px 26px;
	background: url(/images/heart.gif) no-repeat 0px 0px;
}
A.gb_a:link, A.gb_a:hover
{
	font-size: 80%;
	color: #343434;
	font-style: normal;
	text-decoration: none;
}
LI
{
	padding-bottom: 5pt;
	margin: 0px 0px 0px;
	padding-top: 0px;
}
UL
{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0pt;
	padding-top: 0px;
	list-style-type: square;
	text-indent:0;
}
OL
{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0pt;
	padding-top: 0px;
	text-indent:0;
}
STRONG
{
	font-weight: normal;
	font-style: italic;
}
.textarea
{
	font-size: 8pt;
}
BLOCKQUOTE
{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-left: 60px;
	text-indent:0;
	padding-top: 0px;
}
FORM.subscribe, INPUT#email
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
}
FORM.buy
{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	text-indent: 0pt;
	text-align: center;
}
FORM.otherpay
{
	padding: 0px 0px 0px 0px;
	margin:  0px 0px 0px 0px;
	font-size: 9pt;
	text-align: left;
}
.subscribe
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	text-indent: 0pt;
}
.search
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px 0px 0px 242px;
	text-indent: 0pt;
	padding-top: 0px;
	text-align: center;
}
.deviz
{
	color: #ffffff;
	padding: 0px 2px 0px 2px;
	margin: 8px 2px 0px 0px;
	font-size: 8pt;
	text-align:left;
	line-height: 160%;
	font-family: Arial, Futura, Verdana, sans-serif;
	width: 190px;
}
.foot
{
	color: #545440;
	padding: 0px 0px 0px 26px;
	margin: 0px 0px 0px 0px;
	font-size: 9pt;
	text-align: left;
}
